<link rel="stylesheet" type="text/css" href="/tracker.css">
<form action='/start' method='POST'>
  Action:<input type="text" name="activity"></input>
  <input type="submit" value="Start"></input>
</form>

<h1>Tasks</h1>
<% if not @tasks.nil? %>
  <% @tasks.each do |row| %>

    <% @current_hours = row['start'] / (60*60*24)%>
    <% if @last_hours != @current_hours %>
    <% if @last_hours.nil? %>
      </ul>
    <% end %>
    <h2><%= Time.at(row['start']).strftime('%Y-%m-%d') %></h2>
      <ul id="tasks">
      <% @last_hours = @current_hours %>
    <% end %>

      <li class="task">
        <span class="activity"><%= row['activity'] %></span>
        <% if not (row['start'].nil? || row['stop'].nil?) %>
          <span class="time-diff"><%= (row['stop'] - row['start']) / 60 %></span>
        <% end %>
        <% if not row['start'].nil? %>
        <span class="time-start"><%= Time.at(row['start']).strftime('%H:%M') %></span>
        <% end %>
        <% if not row['stop'].nil? %>
          <span class="time-stop"><%= Time.at(row['stop']).strftime('%H:%M') %></span>
        <% end %>
      </li>
  <% end %>
<% end %>